* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main > div {
    width: 320px;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.output {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    background-color: #ededed;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    margin-bottom: 10px;
    /* overflow: auto; */
}

#inputTexts{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: #ededed;
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: right;
    padding: 12px 20px;
    overflow: auto;
}

#resultTexts{
    width: 100%;
    height: 30px;
    background-color: #ededed;
    color: #000000;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: right;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.main-calc {
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    overflow: hidden;
}

.numbers {
    width: 75%;
    height: 100%;
    background-color: #ededed;
    display: flex;
    padding: 0 30px;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: cneter;
}

.numbers > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.ac-btn {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.ac-btn > button {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    background-color: #ededed;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    cursor: pointer;
}

.numbers > div > h2 {
    width: 30%;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ededed;
    border-radius: 5px;
}

.numbers > div > h2:hover {
    border: 1px solid #d7d7d7;
}

.operators {
    width: 25%;
    background-color: #e3e3e3;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.operators > h1 {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

.remove {
    background-color: #ffd8d8;
    border-bottom: 0.5px solid #c5c5c5;
}

.percent {
    background-color: #dfdfdf;
    border-bottom: 0.5px solid #c5c5c5;
}

.plus {
    background-color: #dfdfdf;
    border-bottom: 0.5px solid #c5c5c5;
}

.minus {
    background-color: #dfdfdf;
    border-bottom: 0.5px solid #c5c5c5;
}

.multi {
    background-color: #dfdfdf;
    border-bottom: 0.5px solid #c5c5c5;
}

.devide {
    background-color: #dfdfdf;
}

.operators > .btn {
    background-color: #898989;
    color: #fff;
}
